{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="display-4">Bem-vindo ao UaiFood!</h1>
                <p class="lead mt-4">O melhor delivery do Brasil</p>
                <hr class="my-4">
                <p>Navegue pelos links abaixo para explorar mais.</p>
                <a class="btn btn-primary btn-lg mt-3" href="{{ path('app_login') }}" role="button">Login</a>
                <a class="btn btn-outline-primary btn-lg mt-3" href="{{ path('app_register') }}" role="button">Registrar</a>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title">Funcionalidade 1</h5>
                        <p class="card-text">Descrição breve sobre uma funcionalidade ou recurso interessante do sistema.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title">Funcionalidade 2</h5>
                        <p class="card-text">Outra funcionalidade que os usuários podem explorar nesta aplicação.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title">Funcionalidade 3</h5>
                        <p class="card-text">Mais um recurso importante que pode ser destacado nesta seção.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
